<br>
<br>

<div class="medium">
    <span class="no-print">
        <!--    <a href="/about.html">ABOUT</a>
             <br>-->

    <!-- <a href="#">EDITIONS</a>
	 <br> -->
    <a href="/archive.html">ARCHIVE</a>
    <br>
    <a href="/goatcam">GOATCAM</a>
    <br>
    <a href="https://www.instagram.com/_escolar_/">INSTAGRAM</a>
    <br>
    <!-- <a href="https://www.twitch.tv/escolar_center/">TWITCH</a>
	 <br> -->
    <!-- <a href="#">SUPPORT US</a>
	 <br>  -->
    <a href="mailto:escolar.center@gmail.com">QUESTIONS?</a>
    <!-- <br><a href="https://escolar.international/feed.xml">RSS</a> -->
  </span>
  <br>&copy; 2018 - {{ site.time | date: '%Y' }}
</div>

<br>


</div>

<script src="/assets/js/glightbox.min.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>

