{% include header.html %}

<div class="row">

  <div class="three columns">
    <div class=medium>
      {{ page.event_type }}:
    </div>
  </div>
  
  <div class="nine columns">
    <div class="medium">
      <a href="{{ post.url }}">
	{% if page.artist_name == empty %}
	{% else %}
	{{ page.artist_name }}
	{% endif %}

	{% if page.show_title == empty %}
	{% else %}
	<em>"{{ page.show_title }}"</em>
	{% endif %}
      </a>
      <br>
      {% if page.time == empty %}
      {{ page.start_date }}
      {% else %}
      {{ page.start_date }}. {{ page.time }}
      {% endif %}
      <br>
      <a href="{{ page.map_link }}">
	{{ page.address }}
      </a>
      <br>
      <div class="no-print">
	{{ page.hours }}
	<br>
      </div>
    </div>
    <br>
    <div class="gallery">
      {% if page.image_folder == empty %}
      {% else %}
        {% if page.main_img != empty %}

          <a href="/{{ site.baseurl }}{{ page.image_folder }}/{{  page.main_img }}" class="glightbox" data-gallery="{{  page.image_folder | remove: "pics/"}}"><img src="/{{ site.baseurl }}{{ page.image_folder }}/{{ page.main_img  }}" style="width: 100%; height: auto;"></a><caption>Click image for slideshow.</caption>

        {% for file in site.static_files %}
          {% if file.path contains page.image_folder %}
            {% if file.extname == ".jpg" %}
              <a href="{{ file.path }}" class="glightbox" data-gallery="{{ page.image_folder | remove: "pics/" }}"></a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% else  %}
        {% endif %}
      {% endif %}

    </div>

    {% if page.content == empty %}
    {% else %}
    <div class="content">
      {{ content }}
    </div>
    {% endif %}
  </div>

</div>
<br>

{% include footer.html %}
