{% include header.html %}

<div class="row">

  <div class="three columns">
    <div class=medium>
      Goatcam:
    </div>
  </div>
  
  <div class="nine columns">
       <div class="medium">

       </div>
       <div class="video-container">
	 <iframe
	   src="https://player.twitch.tv/?channel=globalweirdness&parent=escolar.center&muted=true"
	   height="315"
	   max-width="560"
	   frameborder="0"
	   allowfullscreen=""
	   >
	 </iframe>


       </div>
       <br>
   
  </div>

</div>
<br>

{% include footer.html %}
